{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Blog Post #: {{ bpost.Bid }}{% endblock %}</h2>
    <form class='/edit'>
        <br/>
        <div class="mb-3">
            <h3><label for="reading" class="form-label">{{ bpost.Book }} : {{ bpost.Chapter}}</label></h3>
        </div>
        <div class="mb-3">
            <h4><label for="feedback" class="form-label"><em>Feedback:</em></label></h4>
            <textarea class="form-control" id="feedback" rows="8" cols="80">{{ bpost.Feedback }}
            </textarea>
        </div>
        <div class='submit'>
            <a href="{{ url_for('edit', id=bpost['Bid']) }}" class='btn btn-primary' role='button'><button>EDIT</button></a>
        </div>
    </form>
{% endblock %}