{% extends "base.html" %}

{% block content %}
{% block title %}{{Title}}{% endblock %}<br/>
<h1>LIST</h1>
{% if rows %}
<table border="1" width="100%">
    <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 7%;">
        <col span="1" style="width: 68%;">
    </colgroup>
    <thead>
        <td>Id</td>
        <td>Date</td>
        <td>Book</td>
        <td>Chapte</td>
        <td>Feedback</td>
        <td>Action</td>
    </thead>
    {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td><textarea rows="8" cols="100" style="font-style: italic;">{{row[4]}}</textarea></td>
        <td>
            <a href="{{ url_for( 'edit', number=row[0] ) }}">EDIT</a>
        </td>
    </tr>
    {% endfor %}  
</table>
{% else %}
Empty</br>
{% endif %}
<a href="{{ url_for( 'add' ) }}">ADD</a>

{% endblock%}